@import url(tentativa.css);
@import url(confetes.css);

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #3a3a6a);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background: rgba(0,0,0,0.4);
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
}

#cronometro {
  font-size: 1.5em;
  margin: 20px 0;
}

.pista {
  margin-top: 15px;
  font-style: italic;
  color: #ffd700;
}

.surpresa {
  margin-top: 20px;
  font-size: 1.4em;
}

.escondido {
  display: none;
}

/* ===== MOBILE ===== */
@media (max-width: 600px) {

  body {
    padding: 10px;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }

  h1 {
    font-size: 1.4em;
  }

  #cronometro {
    font-size: 1.2em;
  }

  .pista {
    font-size: 0.95em;
  }

  .tentativa input {
    font-size: 1em;
    padding: 12px;
  }

  .tentativa input{
    width: 300px;
  }

  .tentativa button {
    width: 100%;
    padding: 12px;
    font-size: 1em;
  }

  #imagemPresente img {
    width: 100%;
    max-width: 280px;
  }

  .surpresa {
    font-size: 1.2em;
  }
}

.tentativa button {
  min-height: 45px;
}
